<div class="home-container">
    <header>
        找人设计</header>
  <main></main>
  <div id="go-top">
    <i class="yo-ico">&#xf027;</i>
  </div>
  <nav>
    <ul>
      <li>
        <i class="yo-ico">&#xe76e;</i>
        <b>首页</b>
      </li>
      <li>
        <i class="yo-ico">&#xe623;</i>
        <b>素材</b>
      </li>
      <li>
        <i class="yo-ico">&#xe6a0;</i>
        <b>发布</b>
      </li>
      <li class="active">
        <i class="yo-ico">&#xe638;</i>
        <b>定制</b>
      </li>
      <li>
        <i class="yo-ico">&#xe612;</i>
        <b>我的</b>
      </li>
    </ul>
  </nav>
</div>