<div class="homepage">
    <div id="main-Top">
        <div class="head">
            <div class="logo">
                <img src="http://static.redocn.com/usercenter/m/images/logo.png" alt="">
            </div>
            <div class="tip-box">
                <strong>找设计，上红动！</strong>
                <span>2005年创办，值得信赖</span>
            </div>
        </div>
        <div class="search">
            <div class="search-box1">
                <div class="s-left">
                    <span>分类</span>
                </div>
                <div class="s-right">
                    <input type="text" class="s-middle" placeholder="重阳节">
                    <div class="gosearch"></div>
                </div>
            </div>
            <a href="##" class="send">发需求</a>

        </div>
        <div class="ex">
            <div class="title">
                <p>大家都在搜</p>
            </div>
            <ul>
                <li>重阳节</li>
                <li>感恩节</li>
                <li>双11</li>
                <li>建党</li>
                <li>PPT</li>
                <li>文化墙</li>
                <li>招聘</li>
                <li>背景</li>
                <li>名片</li>
                <li>海报</li>
                <li>画册</li>
                <li>包装</li>
                <li>模板</li>
                <li>视频</li>
            </ul>
            <div class="close">
                <p>关闭</p>
            </div>

        </div>
        <div id="main-Nav">
            <ul class="nav">
                <li>
                    <img src="../../images/1.jpg" alt="">
                    <p>中秋国庆</p>
                </li>
                <li>
                    <img src="../../images/2.jpg" alt="">
                    <p>节日</p>
                </li>
                <li>
                    <img src="../../images/3.jpg" alt="">
                    <p>海报</p>
                </li>
                <li>
                    <img src="../../images/4.jpg" alt="">
                    <p>标志</p>
                </li>
                <li>
                    <img src="../../images/5.jpg" alt="">
                    <p>画册</p>
                </li>
                <li>
                    <img src="../../images/6.jpg" alt="">
                    <p>包装</p>
                </li>
                <li>
                    <img src="../../images/7.jpg" alt="">
                    <p>名片</p>
                </li>
                <li>
                    <img src="../../images/8.jpg" alt="">
                    <p>展板</p>
                </li>
                <li>
                    <img src="../../images/9.jpg" alt="">
                    <p>PPT</p>
                </li>
                <li>
                    <img src="../../images/10.jpg" alt="">
                    <p>视频</p>
                </li>

            </ul>
        </div>
        <div id="main-material">
            <div class="material-1">
                <div class="title">
                    <h2>热门素材</h2>
                    <h5>关注热点，紧贴设计趋势</h5>
                </div>
                <div class="content">
                    <ul class="swiper-container left-content">
                        <!-- <li><img src="../../images/T4.jpg" alt=""></li>
                        <li><img src="" alt=""></li>
                        <li><img src="" alt=""></li>
                        <li><img src="" alt=""></li> -->
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <li>
                                    <img src="../../images/T4.jpg" alt="">
                                </li>
                            </div>
                            <div class="swiper-slide">
                                <li>
                                    <img src="../../images/T5.jpg" alt="">
                                </li>
                            </div>
                            <div class="swiper-slide">
                                <li>
                                    <img src="../../images/T6.jpg" alt="">
                                </li>
                            </div>
                            <div class="swiper-slide">
                                <li>
                                    <img src="../../images/T7.jpg" alt="">
                                </li>
                            </div>
                        </div>
                        <!-- 如果需要分页器 -->
                        <div class="swiper-pagination"></div>

                    </ul>
                    <ul class="right-content">
                        <li>
                            <img src="../../images/T1.jpg" alt="">
                        </li>
                        <li>
                            <img src="../../images/T2.jpg" alt="">
                        </li>
                        <li>
                            <img src="../../images/T3.jpg" alt="">
                        </li>
                    </ul>
                </div>

            </div>

        </div>
        <div id="next-main-material">
            <div class="material-2">
                <div class="title">
                    <h2>精品专辑</h2>
                    <h5>个性设计、拒绝平庸</h5>
                </div>
                <ul>
                    <li>
                        <img src="../../images/M1.jpg" alt="">
                        <p>茶叶包装</p>
                    </li>
                    <li>
                        <img src="../../images/M2.jpg" alt="">
                        <p>招聘会海报</p>
                    </li>
                    <li>
                        <img src="../../images/M3.jpg" alt="">
                        <p>精品素材</p>
                    </li>
                    <li>
                        <img src="../../images/M4.jpg" alt="">
                        <p>保护动物海报</p>
                    </li>
                </ul>

            </div>
            <div class="material-2">
                <div class="title">
                    <h2>PPT模板设计</h2>
                    <h5>白领精英都适合</h5>
                </div>
                <ul>
                    <li>
                        <img src="../../images/M5.jpg" alt="">
                        <p>工作总结PPT模板</p>
                    </li>
                    <li>
                        <img src="../../images/M6.jpg" alt="">
                        <p>道德讲堂PPT</p>
                    </li>
                    <li>
                        <img src="../../images/M7.jpg" alt="">
                        <p>十九大PPT</p>
                    </li>
                    <li>
                        <img src="../../images/M8.jpg" alt="">
                        <p>个人简历模板</p>
                    </li>
                </ul>

            </div>
            <div class="material-2">
                <div class="title">
                    <h2>常用素材</h2>
                    <h5>好素材，一年四季都需要</h5>
                </div>
                <ul>
                    <li>
                        <img src="../../images/M9.jpg" alt="">
                        <p>保护地球</p>
                    </li>
                    <li>
                        <img src="../../images/M10.jpg" alt="">
                        <p>美食海报</p>
                    </li>
                    <li>
                        <img src="../../images/M11.jpg" alt="">
                        <p>舞动乾坤</p>
                    </li>
                    <li>
                        <img src="../../images/M12.jpg" alt="">
                        <p>房地产海报</p>
                    </li>
                </ul>

            </div>
        </div>
        <div id="footer-cont">
            <div class="ad">
                <img src="../../images/ad.png" alt="">
            </div>
            <div class="footer-nav">
                <div class="top-nav">
                    <h3>红动中国——专业在线设计服务平台</h3>
                    <h5>红动创办于2005年，老品牌值得信赖</h5>
                </div>
                <ul class="bottom-nav">
                    <li class="tips">电脑版</li>
                    <li class="tips">400-1780-118</li>
                    <li class="tips">800089192</li>
                </ul>
            </div>
        </div>
    </div>