
<div class="order">
    <div>
        <div class="swiper-container swiper1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <ul class="flick-content">
                        <li href="t1">
                            <img src="http://img.redocn.com/201706/20170623/20170623_5b3b7db858baae3ed57f561agzczUGD7.png" alt="名片/卡券/VIP">
                        </li>
                        <li href="t2">
                            <img src="http://img.redocn.com/201706/20170626/20170626_9ebcccb7af6ede0e628anDxkkAnIyGH2.png" alt="海报/宣传单">
                        </li>
                        <li href="t3">
                            <img src="http://img.redocn.com/201706/20170626/20170626_2b746572fc49819f5849mBmqPgBbV2Px.png" alt="户外广告">
                        </li>
                        <li href="t4">
                            <img src="http://img.redocn.com/201706/20170623/20170623_ace6541f30591320b444eNqFKkT3eO4B.png" alt="画册/折页/菜谱">
                        </li>
                        <li href="t5">
                            <img src="http://img.redocn.com/201706/20170623/20170623_1c23039b78eac74bd1d0YEVhjAhprOZu.png" alt="展板/舞台背景">
                        </li>
                        <li href="t6">
                            <img src="http://img.redocn.com/201706/20170623/20170623_397bea3291b6e384f4919KZSw5uk0kSV.png" alt="手提袋/环保袋">
                        </li>
                        <li href="t7">
                            <img src="http://img.redocn.com/201706/20170623/20170623_d2a60f93140f1e2b3e558NCrxTMZ8Lmj.png" alt="标志/LOGO/字体/VI">
                        </li>
                        <li href="t8">
                            <img src="http://img.redocn.com/201706/20170623/20170623_19daf6ca7533f7d99d87rfhFXShOnWt4.png" alt="包装/标贴/不干胶">
                        </li>
                        <li href="t9">
                            <img src="http://img.redocn.com/201706/20170626/20170626_8a8bd00fed7b20e87faaDFOBVxk3WzCH.png" alt="易拉宝/展架/吊旗">
                        </li>
                        <li href="t10">
                            <img src="http://img.redocn.com/201706/20170623/20170623_3c95b0f12cfa415ea655ccC6GJVfI25M.png" alt="淘宝/天猫店铺/网站">
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide">
                    <ul class="flick-content">
                        <li href="/design/t-16.htm">
                            <img src="http://img.redocn.com/201706/20170623/20170623_9c635328665aadfeef5dLzrWVuf4KNgG.png" alt="视频AE">
                        </li>
                        <li href="/design/t-12.htm">
                            <img src="http://img.redocn.com/201706/20170626/20170626_438c52f4ab712cd7675eUALs8Ihb0i4z.png" alt="PPT">
                        </li>
                        <li href="/design/t-13.htm">
                            <img src="http://img.redocn.com/201706/20170626/20170626_d85a3d036d787795bc5d9FYBKiCDBUfX.png" alt="卡通/插画">
                        </li>
                        <li href="/design/t-18.htm">
                            <img src="http://img.redocn.com/201706/20170626/20170626_5772fd711f23b4e0e533iwBtFoJjXN8m.png" alt="文案策划">
                        </li>
                        <li href="/design/t-20.htm">
                            <img src="http://img.redocn.com/201706/20170626/20170626_95b5fe2da02956701fb9ZWks420AFNzL.png" alt="工业">
                        </li>
                        <li href="/design/t-22.htm">
                            <img src="http://img.redocn.com/201706/20170623/20170623_bad583122e16039d73efnXUp51s3xmcR.png" alt="室内装修/装饰">
                        </li>
                        <li href="/design/t-25.htm">
                            <img src="http://img.redocn.com/201707/20170712/20170712_4f0c5cf063d6be74d6f0sawEVhGY8WyH.png" alt="景观/建筑/园林">
                        </li>
                        <li href="/design/t-14.htm">
                            <img src="http://img.redocn.com/201706/20170623/20170623_0fadab95b05d8059f3b2kxNnPV6btfrA.png" alt="其他">
                        </li>
                        <li href="/design/t-24.htm">
                            <img src="http://img.redocn.com/201706/20170623/20170623_8259d2b9428ab8111512qPdxZPDH8GVI.png" alt="成品">
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination pagination1"></div>
        </div>
        <div class="design">
            <div>
                <div class="des-tab">
                    <ul>
                        <li class="active">成功案例</li>
                        <li>优秀设计师</li>
                    </ul>
                </div>
                <div class="swiper-container swiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide1">
                            <div class="des-success">
                                <div class="case-list">
                                    <ul class="caseul"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="good-designer">
                                <div class="case-list">
                                    <ul class="goodul"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div class="foot">
            <img src="../../images/arrow.png" />
            <b>上拉加载更多...</b>
        </div>
    </div>
</div>