<div id="publish">
<span>
        在线发布设计需求
      </span>
      <b>服务承诺：客户免费发布设计需求，在线设计服务商提供一对一服务,红动网提供全程交易保障</b>
      <h>今天已经有4861位顾客获得服务
        <span>下载APP</span>
      </h>
      <div>
        <select>
          <option>请选择设计类型</option>
          <option>名片/卡券/VIP</option>
          <option>海报/宣传单</option>
          <option>户外广告（写真、喷绘、LED、条幅</option>
          <option>画册/折页/封面/菜谱/同学录m</option>
          <option>舞台背景/政府展板/企业标语展板</option>
          <option>手提袋/环保袋</option>
          <option>LOGO/VI/字体</option>
          <option>包装/标贴/不干胶</option>
        </select>
      </div>
      <div>
        <select>
          <option>请选择您的预算</option>
          <option>300元以内</option>
          <option>300-1000元</option>
          <option>1001-10000元</option>
          <option>10001-50000元</option>
          <option>5万以上</option>
        </select>
      </div>
      <textarea cols="10" rows="10" placeholder="对设计类型的具体说明"></textarea>
      <input type="text" name="" id="" placeholder="请输入11位手机号">
      <div id="msg">
      
        <div>
        <select>
          <option>期望沟通方式</option>
          <option>手机</option>
          <option>qq</option>
          <option>微信</option>
        </select>
      </div>
        <input type="text" name="" id="input2" placeholder="请输入帐号">
        <span>推荐使用qq，红动平台时时监督，客户权益保证</span>
      </div>
      <div>
        <select>
          <option>请输入或选择为您服务过的设计师</option>
          
        </select>
      </div>
      <button>立即发布</button>
    </div>